{% if page.previous != nil %}
<p><a href="{{ site.baseurl }}{{ page.previous.url }}"><< Previous Post: {{ page.previous.title }}</a></p>
{% endif %}
{% if page.next != nil %}
<p><a href="{{ site.baseurl }}{{ page.next.url }}" text-align:right >Next Post: {{ page.next.title }} >></a></p>
{% endif %}
