<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link href="/assets/css/mainStylesheet.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="/assets/css/artStylesheet.css" media="screen, projection" rel="stylesheet" type="text/css">
</head>

<body>
	{% include navigation.html %}

	<h1>{{ page.title }}</h1>

	{{ content }}
</body>
</html>
