<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link href="/assets/css/mainStylesheet.css" media="screen, projection" rel="stylesheet" type="text/css">
</head>

<body>
	{% include navigation.html %}

<br/>
	{% include post_navigation.html %}
<hr/>

	<h1>{{ page.title }}</h1>
	<h3>{{ page.date | date_to_string }}</h3>
	{{ content }}

<hr/>
	{% include post_navigation.html %}
</body>
</html>
