:root
{
	--color-offwhite:     #c0c0c0;
	--color-dark-grey:    #101010;
	--color-light-grey:   #272a2b;
	--color-light-blue:   #75a8e6;
	--color-orange:       rgb(255, 117, 26);
}

body 
{
	font-size:16px;
	color:var(--color-offwhite);
	background-color:var(--color-dark-grey);
	margin:20 auto;
	width:80%;
	max-width:1000px;
	font-family:'Literata',serif;
}

h1{font-size:30px;color:var(--color-orange);text-align:center}
h2{font-size:24px;color:var(--color-orange);text-align:center}
h3{font-size:22px;color:var(--color-orange);text-align:center}
h4{font-size:20px}

a, a:visited{color:var(--color-light-blue)}
a:hover{color:var(--color-offwhite)}

img
{
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.alttext
{
	font-style:italic;
	text-align:center;
	width:80%;
	padding:2px 10% 2px 10%;
	background-color:var(--color-light-grey);
}
